
header{
    text-align: center;

}
    
#PREFAZIONE{
    color: rgb(15, 90, 128);  text-align: center; background-color: rgb(248, 224, 183); border-top:5px; padding:0,5em; height:2em; border-top:3px solid rgb(244, 208, 142);
    }



#semplice{
    text-align: center;
    margin: left;
    width: right;
    font-style: italic;
}


#logo{
    display: flex;
    margin: 2mm auto;
    width: 15%;
}


.box{
    text-align: center;
    margin: left;
    margin: right;
    color: brown;
}



#Focaccia{
    color:red


}

p{
    text-align: center;
    color: brown;
}

li{
    text-align: center;
}