
header{
    text-align: center;

}
    
iframe{
    border-top: 0cm;
}


#semplice{
    text-align: center;
    margin: left;
    width: right;
    font-style: italic;
}


#logo{
    display: flex;
    margin: 2mm auto;
    width: 15%;
}


.box{
    text-align: center;
    margin: left;
    margin: right;
    color: brown;
}



#Focaccia{
    color:red


}

p{
    text-align: center;
    color: brown;
}

li{
    text-align: center;
}